[submodule "include/OOGL"]
	path = include/OOGL
	url = https://github.com/BiscuitsLayer/OOGL.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/llvm-project-mod"]
	path = include/llvm-project-mod
	url = https://github.com/BiscuitsLayer/llvm-project-mod.git
